{% extends "base.html" %}
{% block title %}Home Page{% endblock %} 
{% block content %}
<!-- Title -->
<h1>Login</h1>
<!-- Login Form -->
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form|crispy }}
    <!-- Submit Button -->
    <button class='btn btn-primary' type="submit">Log in</button>
    <!-- Link to Sign Up Page -->
    <div class='mt-4'><a href="{% url 'signup' %}">Don't have an Account? Create</a></div>
</form>
 <!-- Displaying messages -->
 {% for message in messages %}
 <div class="container-fluid p-0 mt-4 mb-0">
   <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     <!-- Display Message -->
     {{ message }}
   </div>
 </div>
 {% endfor %}
{% endblock content %}
