/* General body styling, setting background color, ensuring it covers the full viewport height, and establishing a grid layout */
body {
  background-color: #f0f0f0;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Header styling, including background color, padding for spacing, rounded corners, and a minimum height */
header {
  background-color: #add8e6;
  padding: 20px;
  border-radius: 5px;
  min-height: 50px;
}

/* Text color for the main header (h1) element */
header h1 {
  color: #333;
}

/* Text color for paragraphs (p) within the header */
header p {
  color: #666;
}

/* Styling for card elements, removing default border and adding a shadow for a "lifted" effect */
.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Background color for the footer section of cards */
.card-footer {
  background-color: #d3d3d3;
}

/* Text color for link buttons within cards */
.card .btn-link {
  color: #333;
}

/* Styling for primary buttons within the footer, setting background and text color, and border color */
footer .btn-primary {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
}

/* Styling for secondary buttons within the footer, similar to primary but could be used for alternate actions */
footer .btn-secondary {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
}

/* Utility class for adding a top margin */
.mt-5 {
  margin-top: 3rem !important;
}

/* Utility class for adding a bottom margin */
.mb-4 {
  margin-bottom: 1.5rem !important;
}

/* Utility class for adding a right margin (end in RTL languages) */
.me-2 {
  margin-right: 0.5rem !important;
}

/* Custom footer styling, setting the background color and minimum height */
.footer-custom {
  background-color: #6c757d;
  min-height: 50px;
}

/* Tso darken an element on hover */
/* &:hover:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
} */


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .seat-button {
    padding: .375rem .75rem; /* Original padding */
    font-size: 1rem; /* Original font size */
    min-width: 40px; 
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .seat-button {
    padding: .25rem .5rem; /* Smaller padding */
    font-size: .9rem; /* Smaller font size */
    min-width: 30px; 
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .seat-button {
    padding: .2rem .4rem; /* Even smaller padding */
    font-size: .8rem; /* Even smaller font size */
    min-width: 20px; 
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .seat-button {
    padding: .175rem .35rem; /* Smallest padding */
    font-size: .7rem; /* Smallest font size */
    min-width: 10px; 
  }
}
