{% extends "base.html" %} {% block title %}Event Page{% endblock %} {% block content %}
<div class="container mt-5">
  <!-- Form for Participating in an Event -->
  <form method="post" action="{% url 'participate' event_id=event_id %}">
    {% csrf_token %}
    <!-- Hidden Input Field for Event ID -->
    <input type="hidden" name="event_id" value="{{ event_id }}" />
    <!-- Display Messages -->
    {% for message in messages %}
    <div class="container-fluid p-0 mb-4 mt-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
        <!-- Display Message -->
        {{ message }}
      </div>
    </div>
    {% endfor %}
    <!-- Row for Event Details and Participation Button -->
    <div class="card">
      <div class="row g-0">
        <!-- Column for Event Image and Details -->
        <div class="col-md-6">
          {% load static %}
          <!-- Image Container with Aspect Ratio -->
            <!-- Event Image -->
            <div class="ratio ratio-1x1 position-relative">
            <img
              src="{{ image.url }}"
              class="img-fluid"
              style="object-fit: cover"
              alt="Event Image"
            />
            </div>
        </div>
        <!-- Column for Event Title and Description -->
          <div class="col-md-6">
            <div class="card-body">
            <h2>{{ title }}</h2>
            <!-- Event Description -->
            <p class="mt-4">{{ desc }}</p>
            </div>
          </div>
      </div>
      <div class='card-footer'>
        <div class="d-flex flex-column">
          <!-- Event Data -->
          <i>Date: {{ date }}</i>
          <i>Places available: {{ places_available }}</i>
          <i>Location: {{ location.name }}</i>
        </div>
        <!-- Participation Button -->
        {% if places_available == 0 or is_available == False %}
        <button type="submit" class="btn btn-primary mt-4" disabled>
          Participate
        </button>
        {% else %}
        <button type="submit" class="btn btn-primary mt-4" id="participate-btn">
          Participate
        </button>
        {% endif %}
      </div>
    </div>
  </form>
</div>
{% endblock content %}
