{% extends "base.html" %}

{% block title %}Event Page{% endblock %}

{% block content %}
  <div class="container mt-5">
    <form method="post" action="{% url 'participate' %}">
      {% csrf_token %}
      <input type="hidden" name="event_id" value={{ event_id }}>
      {% for message in messages %}
      <div class="container-fluid p-0 mb-4 mt-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </button>
          {{ message }}
        </div>
      </div>
      {% endfor %}
      <div class="row">
        <div class="col-md-6">
          {% load static %}
          <div class="ratio ratio-1x1 position-relative mb-4">
            <img src="{{ image }}" class="img-fluid" style="object-fit: cover;" alt="...">
          </div>
          {% if places_count == 0 %}
          <button type="submit" class="btn btn-primary" disabled>Participate</button>
          {% else %}
          <button type="submit" class="btn btn-primary">Participate</button>
          {% endif %}
          <p class="mt-2">Places available: {{ places_count }}</p>
        </div>
        <div class="col-md-6">
          <!-- Event Name -->
          <h2>{{ title }}</h2>
          <!-- Event Description -->
          <p class='mt-4'>
            {{ desc }}
          </p>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
