<div class="col-md-4">
    <!-- Card Container -->
    <div class="card h-100">
        <!-- Image Container with Aspect Ratio -->
        <div class="ratio ratio-4x3 position-relative">
            <!-- Event Image -->
            <img src={{ image }} class="card-img-top img-fluid" style="object-fit: cover;" alt="...">
            <!-- Availability Indicator -->
            {% if is_available %}
            <div class="position-absolute top-0 end-0 bg-success text-white px-2 py-1" style="width: 5em; height: 2em;">
                Available
            </div>
            {% else %}
            <div class="position-absolute top-0 end-0 bg-warning text-white px-2 py-1" style="width: 7em; height: 2em;">
                Not Available
            </div>
            {% endif %}
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <!-- Event Title -->
            <h5 class="card-title">{{ title }}</h5>
            <!-- Event Description -->
            <p class="card-text">{{ short_desc }}</p>
            <!-- "Show more" Link -->
            <a href="{% url "event_page" event_id=id %}" class="link-primary stretched-link">Show more</a>
        </div>
    </div>
</div>
