{% extends "base.html" %}

{% block title %}Choose a seat{% endblock %}

{% block content %}
<div class="d-flex flex-column gap-4">
  <!-- Title for the seat selection page -->
  <h1 class="text-center">Choose a seat</h1>
  <form method="post" action="{% url 'participate' event_id=event_id %}">
    {% csrf_token %}
    <!-- Hidden input fields for passing event ID and selected seat -->
    <input type="hidden" name="event_id" value={{ event_id }}>
    <input type="hidden" id="selected_seat" name="selected_seat" value=""> 
    <div class="d-flex flex-column align-items-center">
        {% load seats_extras %}
        <!-- Loop for generating seat buttons -->
        {% for row in iteration %}
        <div class="mb-2">
          {% for seat in row %}
          {% if seat in taken_places %}
          <!-- Disabled button for already taken seats -->
          <button type="button" class="btn btn-outline-dark m-1 seat-button" id="{{ seat }}" disabled>{{ seat }}</button>
          {% else %}
          <!-- Enabled button for available seats -->
          <button type="button" class="btn btn-outline-primary m-1 seat-button" id="{{ seat }}" onclick="selectButton(this)">{{ seat }}</button>
          {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
    </div>
    <!-- Submit button for confirming seat selection -->
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary">OK</button>
    </div>
  </form>
</div>

{% load static %}
<!-- JavaScript for handling seat selection -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Function to handle seat selection
  function selectButton(selectedBtn) {
    // Get all buttons
    var buttons = document.querySelectorAll('.btn');
  
    // Reset all buttons to outline
    buttons.forEach(function(btn) {
      btn.classList.remove('btn-primary');
      btn.classList.add('btn-outline-primary');
    });
  
    // Set the selected button to primary
    selectedBtn.classList.remove('btn-outline-primary');
    selectedBtn.classList.add('btn-primary');
  
    // Set the selected button value to the form input
    document.getElementById('selected_seat').value = selectedBtn.id;
  }  
</script>
{% endblock content %}
